#intro {
  background-image: url("../assets/intro.png");
  width: 100%;
  display: flex;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 1rem;
}

#intro h1 {
  font-size: 3rem;
  font-weight: bold;
}

#intro span {
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 300;
}

#about {
  display: flex;
  padding: 10%;
  justify-content: space-around;
  align-items: center;
}

#about img {
  width: 45%;
  object-fit: cover;
  border-radius: 18px;
}

#about h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

#about div {
  width: 45%;
}

#about p {
  font-weight: 400;
  line-height: 150%;
  padding: 1rem 0;
  font-size: 1.25rem;
}

#offers {
  padding: 10%;
}

#offers h2 {
  font-size: 2.75rem;
  font-weight: 500;
  padding-bottom: 5%;
}

#offer-cards {
  display: flex;
  gap: 2rem;
}

#offer-cards h2 {
  padding: 2.5rem;
}

#offer-cards div {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  color: white;
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  justify-content: space-around;
  padding: 2.5% 3%;
}

#offer-cards h3 {
  font-size: 2rem;
  font-weight: bold;
}

#offer-cards p {
  font-size: 1.25rem;
  line-height: 150%;
}

#offer-cards div:first-child {
  background-image: url("../assets/offer1.png");
}

#offer-cards div:last-child {
  background-image: url("../assets/offer2.png");
}
